<!-- {% extends 'base.html'%}
{% import 'macros.html' as macro%} -->


<!-- Styles block -->

<!-- {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %} -->
<!-- Content block -->

<!-- Content block -->
<!-- {% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search News" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<h3> Trending </h3>
<ul>
    {{ macro.displayArticleList(trending)}}
</ul>

<h3> Technology </h3>
<ul>
    {{ macro.displayArticleList(technology)}}
</ul>

<h3> Politics </h3>
<ul>
    {{ macro.displayArticleList(politics)}}
</ul>

<h3> Sports </h3>
<ul>
    {{ macro.displayArticleList(sports)}}
</ul>

<h3> Beauty </h3>
<ul>
    {{ macro.displayArticleList(beauty)}}
</ul>


{% endblock%}
 -->
